* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #dedede;
    margin: 0;
    padding: 0;
  }

  .Logo{
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #5E94FF;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .whatAboutThisCafe{
    /* 이런 카페는 어떠세요? */
  position: relative;
  white-space: nowrap;
  width: 168px;
  height: 22px;
  left: 41px;
  top: 90px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  
  color: #000000;
  }
  
  .grayLine{
    /* underline */
  
  position: relative;
  width: 420px;
  height: 0px;
  left: 30px;
  top: 150px;
  margin-top: -50px;
  
  border: 1px solid #d7d7d7;
  }
  
  .picture{
    /* cafe image */
  position: relative;
  width: 100px;
  height: 100px;
  left: -150px;
  top: 160px;
  margin-bottom: -10px;
  
  /* background: url(image.png); */
  border-radius: 6px;
  }
  
  .cafeName{
    /* 스타벅스 경희대학교국제캠... */
  white-space: nowrap;
  text-align: left;
  position: relative;
  width: 195px;
  height: 19px;
  left: 155px;
  top: 70px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  
  color: #000000;
  }
  
  .americanoCost{
    /* 아메리카노 4,900원 */
  
  position: relative;
  text-align: left;
  width: 122px;
  height: 17px;
  left: 155px;
  top: 75px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  color: #000000;
  }
  
  .characteristic{
    /* 도보 약 12분, 콘센트 많음, 이용 고객 많음, 시끄러운 분위기 */
  
  position: relative;
  width: 239px;
  height: 34px;
  left: 155px;
  top: 80px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  margin-bottom: -10px;
  
  color: #ADADAD;
  }
  
  .cafeLink {
    text-decoration: none;
  }
  
  .isFavorite{
    position: relative;
  width: 25px;
  height: 25px;
  left: 190px;
  top: 10px;
  margin-bottom: -10px;
  }
  